<div class="tile tile-item is-parent is-shady">
<article class="tile is-child notification is-white">

    <%= raw task_label(task)[:html] %>

    <div class="tile-contents mt-3">
      <h3 class="title is-size-4 has-text-primary">
        <%= render 'components/checkbox_task', task: task %>
        <%= task.name %>
      </h3>

      <p class="subtitle is-size-7 mb-3 has-text-grey-light">
        <i class="fas fa-stopwatch has-text-danger"></i>
        <%= date_full_words(task.deadline) %>
      </p>

      <p class="subtitle is-size-6 has-text-light">
        <%= truncate(strip_tags(task.description.to_s), length: 100) %>
      </p>
    </div>
    

    <div class="tile-actions">
      <%= render 'components/task_buttons', task: task %>
    </div>


</article>
</div>