<div class="tile tile-item is-parent is-shady">
<article class="tile is-child notification is-white">


    <div class="tile-contents">
      <h3 class="title is-size-4 has-text-primary">
      <i class="fas fa-book mr-1"></i>
        <%= category.name %>
      </h3>

      <p class="subtitle is-size-7 mb-3 has-text-grey-light">
        <i class="fas fa-cogs"></i>
        <%= category.tasks.length %> Tasks
      </p>

      <p class="subtitle is-size-6 has-text-light">
        <%= category.description %>
      </p>
    </div>


    <div class="tile-actions">
      <%= link_to tasks_path(category), class: :"button is-light action-tile-button has-text-light", title: "View Category" do %>
          <i class="fas fa-book-reader"></i>
      <% end %>

      <%= link_to categories_edit_path(category), class: :"button is-warning has-text-warning is-light action-tile-button", title: "Edit Category" do %>
          <i class="fas fa-edit"></i>
      <% end %>

      <%= link_to categories_delete_path(category), method: :delete, class: :"button is-danger has-text-danger is-light action-tile-button", title: "Delete Category", data: { confirm: "Are you sure you want to delete #{category.name} and all the tasks associated to it?" } do %>
          <i class="far fa-trash-alt"></i>
      <% end %>
    </div>


</article>
</div>