<div class="tile tile-item is-parent is-shady">
<article class="tile is-child notification is-white">

    <%= raw task_label(task)[:html] %>

    <div class="tile-contents mt-3">
      <h3 class="title is-size-4 has-text-primary">
        <%= render 'components/checkbox_task', task: task %>
        <%= task.name %>
      </h3>

      <p class="subtitle is-size-7 mb-3 has-text-grey-light">
        <i class="fas fa-stopwatch has-text-danger"></i>
        <%= date_full_words(task.deadline) %>
      </p>

      <p class="subtitle is-size-6 has-text-light">
        <%= truncate(strip_tags(task.description.to_s), length: 100) %>
      </p>
    </div>
    

    <div class="tile-actions">
      <%= render 'components/task_buttons', task: task %>
    </div>


</article>
</div>


<div class="modal" data-taskmodal-id="<%= task.id %>">
  <div class="modal-background"></div>
  <div class="modal-content has-background-light p-3 py-6">
    <p class="has-text-centered has-text-black-bis mb-6">
      Are you sure you want to delete "<b><%= task.name %></b>" ?
    </p>
    <div class="is-flex is-justify-content-center">

      <button 
        title="Delete Task" 
        class="button is-danger has-text-light m-2"
        data-controller="deletetask"
        data-deletetask-target="task"
        data-action="click->deletetask#delete_task"
        data-tid="<%= task.id %>"
      >
        <i class="far fa-trash-alt mr-3"></i> Confirm
      </button>

      <button 
        class="modal-cancel button is-warning m-2" 
        data-taskcancelmodal-id="<%= task.id %>"
      >
        <i class="fas fa-undo-alt mr-3"></i> Cancel
      </button>

    </div>
  </div>
  <button class="modal-close is-large" data-taskclosemodal-id="<%= task.id %>" aria-label="close"></button>
</div>