<div class="modal" data-taskmodal-id="<%= task.id %>">
  <div class="modal-background"></div>
  <div class="modal-content has-background-light p-3 py-6">
    <p class="has-text-centered has-text-black-bis mb-6">
      Are you sure you want to delete "<b><%= task.name %></b>" ?
    </p>
    <div class="is-flex is-justify-content-center">

      <%= render 'components/stimuli/btn_task_delete', task: task %>

      <button 
        class="modal-cancel button is-warning m-2" 
        data-taskcancelmodal-id="<%= task.id %>"
      >
        <i class="fas fa-undo-alt mr-3"></i> Cancel
      </button>

    </div>
  </div>
  <button class="modal-close is-large" data-taskclosemodal-id="<%= task.id %>" aria-label="close"></button>
</div>