<nav class="navbar">
<div class="container">

    <div class="navbar-brand is-flex is-align-content-center">
        <%= image_tag asset_path('brand.svg'), class: "navbar-item title-icon" %>
        <%= link_to 'Satisfy', root_path, class: "navbar-item title-text has-text-primary-light has-text-weight-bold is-size-3" %>
    </div>

    <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <span class="navbar-item has-text-light is-flex is-align-items-center has-text-weight-semibold ">
        <i class="far fa-calendar-alt mr-3"></i> <%= date_full_words Time.now %>
      </span>

      <% if current_user.nil? %>
        <%= link_to new_user_registration_path, class: "navbar-item has-text-light" do %>
          <i class="fas fa-user-plus mr-3"></i> Signup
        <% end %>

        <%= link_to new_user_session_path, class: "navbar-item has-text-light" do %>
          <i class="fas fa-sign-in-alt mr-3"></i> Signin
        <% end %>
      <% end %>

      <% unless current_user.nil? %>
        <%= link_to home_dashboard_path, class: "navbar-item has-text-light" do %>
          <i class="fas fa-clipboard-list mr-3"></i> Dashboard
        <% end %>
        <%= link_to categories_new_path, class: "navbar-item has-text-light" do %>
          <i class="fas fa-plus mr-3"></i> Journal
        <% end %>
        <%= link_to home_new_task_path, class: "navbar-item has-text-light" do %>
          <i class="fas fa-plus mr-3"></i> Task
        <% end %>

        <div class="dropdown navbar-item is-hoverable">
          <div class="dropdown-trigger">
              <button class="button is-size-5 has-text-weight-semibold has-text-light" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <%= image_tag asset_path('avatar.svg'), class: "image is-24x24 is-rounded mr-2" %>
                  <%= current_user.first_name %>
              </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
              <div class="dropdown-item">

                <%= link_to signout_path, method: :delete, class: "navbar-item disable-hover" do %>
                    <i class="fas fa-sign-out-alt mr-3"></i> Signout
                <% end %>
                  
              </div>
              </div>
          </div>
        </div>
      <% end %>
      
    </div>
    </div>
    
</div>
</nav>