<%= render 'components/navigation' %>

<section class="container container-content mt-6">
<div class="columns">


  <div class="column is-6 container-left">
    <%= image_tag :'create.task.svg'  %>
  </div>

  <div class="column is-6 container-right">

    <%= form_with model: @task, url: tasks_update_path, method: :patch, local: true do |f| %>
      <%= render 'task/form_fields', form: f , action: 'Update'%>
    <% end %>

  </div>


</div>
</section>

<%= render 'components/footer' %>