<%= render 'components/navigation' %>

<section class="container mt-3">
  <div class="box is-flex is-justify-content-space-between is-align-content-center ">
    <h2 class="has-text-black-bis is-size-4 has-text-weight-semibold"><%= @category.name %></h2>

    <div>
      <%= link_to tasks_new_path, class: "button is-info" do %>
        <i class="fas fa-plus mr-3"></i> Task
      <% end %>
    </div>
  </div>
</section>

<section class="container container-content mt-6">

  <% if @tasks.length.positive? %>
    <div class="tile tile-container is-ancestor">
      <% @tasks.each do |task| %>
          <%= render 'components/card_task', task: task %>
      <% end %>
    </div>
  <% end %>

  <% unless @tasks.length.positive? %>
    <div class="when-empty">
      <%= image_tag :'empty.category.tasks.svg'  %>
      <p class="is-size-4 mt-5 has-text-weight-semibold">
        This journal has no tasks.
        <%= link_to 'Add one now!', tasks_new_path %>
      </p>
    </div>
  <% end %>

</section>

<%= render 'components/footer' %>

<%= javascript_pack_tag 'task_button_link', 'data-turbolinks-track': 'reload' %>