<%= render 'components/navigation' %>

<section class="container is-flex is-justify-content-space-between is-align-content-cente">
  <h2 class="has-text-white is-size-4 has-text-weight-medium"><%= @category.name %></h2>

  <div>
    <%= link_to root_path, class: "button is-light" do %>
      <i class="fas fa-home mr-3"></i> Home
    <% end %>
    <%= link_to tasks_new_path, class: "button is-light" do %>
      <i class="fas fa-plus mr-3"></i> Task
    <% end %>
  </div>
</section>

<section class="container container-content mt-6">
<div class="tile tile-container is-ancestor">

  <% @category.tasks.each do |task| %>
      <%= render 'components/card_task', task: task %>
  <% end %>

</div>
</section>

<%= render 'components/footer' %>