<%= render 'components/navigation' %>

<section class="container container-content mt-6">
  <h1>CREATING A TASK</h1>

  <%= form_with scope: :task, url: tasks_create_path, local: true, method: :post do |f| %>
    <%= f.text_field :name, autocomplete: :off %>
    <%= f.text_area :description, autocomplete: :off %>
    <%= f.date_field :deadline %>
  <% end %>

</section>

<%= render 'components/footer' %>