<section class="container container-content mt-6">
<div class="columns">


  <% label = task_label(@task) %>

  <div class="column is-4 container-left-task">

    <%= image_tag :'create.task.svg'  %>

    <h2 class="is-size-2 has-text-weight-medium">
      <%= @task.name %>
    </h2>

    <h4>
      Deadline: <%= date_full_words(@task.deadline) %>
    </h4>

    <h2>
      Status: <span class="has-text-<%= label[:status] %>">
        <%= label[:message] %>
      </span>
    </h2>

    <div class="mt-5 is-flex is-align-items-center">
      <%= render 'components/task_buttons', task: @task %>
    </div>
  </div>

  <div class="column is-8 container-right-task">
    <h2 class="is-size-4 has-text-weight-medium">Task Details</h2> <br/>
    <p class="is-size-5"><%= @task.description %></p>
  </div>


</div>
</section>

<%= render 'components/modal_task_delete', task: @task %>
<%= javascript_pack_tag 'task_button_link', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'task_button_delete', 'data-turbolinks-track': 'reload' %>