<% count = @statistics[:count] %>
<% count_not_completed = count[:completed] + count[:not_completed] %>
<% count_categories = @statistics[:categories] %>

<section id="home-dashboard-top" class="container container-content mt-3">

  <div id="home-dashboard-top-statistics" class="box has-background-info-dark has-text-white has-text-weight-semibold is-flex is-align-items-center is-justify-content-space-between">
    <div class="is-size-4">
      <i class="fas fa-book-reader mr-1"></i>
      Your Journals
    </div>
    <div class="categories-progress-container">
      <%= count[:completed] %> / <%= count_not_completed %> tasks are completed!
      <progress class="progress is-success journal-progress" value="<%= count[:completed] %>" max="<%= count_not_completed %>"></progress>
    </div>
  </div>

  <% if @categories.length.positive? %>
    <div class="tile tile-container is-ancestor">
      <% @categories.each do |category| %>
        <%= render 'components/card_category', 
            category: category, 
            statistics: count_categories[category.id] 
        %>
      <% end %>
    </div>
  <% end %>

  <% unless @categories.length.positive?  %>
    <div class="when-empty">
      <%= image_tag :'empty.category.svg'  %>
      <p class="is-size-4 mt-5 has-text-weight-semibold"> 
        Your journals is empty.
        <%= link_to 'Start orginizing now!', categories_new_path %>
      </p>
    </div>
  <% end %>

</section>

<section id="home-dashboard-bottom" class="container mt-6">

  <% if @tasks.length.positive? %>
    <div class="box has-background-warning-light has-text-dark is-size-4 has-text-weight-semibold">
      <i class="fas fa-exclamation-circle has-text-warning mr-1"></i>
      <%= current_user.first_name %>, these tasks requires your attention!
    </div>

    <div class="tile tile-container is-ancestor">
      <% @tasks.each do |task| %>
        <%= render 'components/card_task', task: task %>
      <% end %>
    </div>
  <% end %>

  <% unless @tasks.length.positive? %>
    <div class="box has-background-success-light has-text-dark is-size-4 has-text-weight-semibold">
      <i class="fas fa-check-circle has-text-success mr-1"></i>
      <%= current_user.first_name %>, You are all set for today!
    </div>

    <div class="when-empty">
      <%= image_tag :'empty.task.svg'  %>
      <p class="is-size-4 mt-5 has-text-weight-semibold">
        Eveything looks good!
      </p>
    </div>
  <% end %>

</section>

<%= javascript_pack_tag 'task_button_link', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'task_button_delete', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'category_button_delete', 'data-turbolinks-track': 'reload' %>