<%= render 'components/navigation' %>

<section class="container is-flex is-justify-content-flex-end">
  <%= link_to categories_new_path, class: "button is-light ml-1" do %>
    <i class="fas fa-plus mr-3"></i> Journal
  <% end %>
  <%= link_to home_new_task_path, class: "button is-light ml-1" do %>
    <i class="fas fa-plus mr-3"></i> Task
  <% end %>
</section>




<section class="container mt-6">

  <div class="box has-background-warning-ligth has-text-dark is-size-4 has-text-weight-semibold">
    <i class="fas fa-exclamation-circle has-text-warning mr-1"></i>
    These tasks requires your attention!
  </div>

  <div class="tile tile-container is-ancestor">
    <% @tasks.each do |task| %>
      <%= render 'components/card_task', task: task %>
    <% end %>
  </div>

</section>




<section class="container container-content mt-6">

  <div class="box has-background-info-dark has-text-white is-size-4 has-text-weight-semibold">
    <i class="fas fa-book-reader mr-1"></i>
    Your Journals
  </div>

  <div class="tile tile-container is-ancestor">
    <% @categories.each do |category| %>
      <%= render 'components/card_category', category: category %>
    <% end %>
  </div>

</section>

<%= render 'components/footer' %>