<%= render 'components/navigation' %>

<%= render 'components/navigation_user' %>

<section class="container container-content mt-6">
<div class="columns">

  <div class="column is-6 container-left">
    <%= image_tag :'create.task.svg'  %>
  </div>

  <div class="column is-6 container-right">

    <%= render 'components/form_errors', instance: @task  %>

    <%= form_with scope: :task, url: home_create_task_path, method: :post do |f| %>
        
        <div class="field">
        <div class="control select is-info is-medium" style="width: 100%">
          <%= collection_select :task, :category_id, Category.where(user_id: current_user.id), :id, :name, { include_blank: 'Add to Journal' }, { class: "input" } %>
        </div>
        </div>

        <%= render 'task/form_fields', form: f, action: "Create" %>
        
    <% end %>

  </div>

</div>
</section>

<%= render 'components/footer' %>