<section class="container container-content mt-6">
<div class="columns">

  <div class="column is-6 container-left">
    <%= image_tag :'signin.svg'  %>
  </div>

  <div class="column is-6 container-right">

    <%= form_for(resource, as: resource_name, url: signin_create_path) do |f| %>

      <div class="field">
      <div class="control"> 
        <%= f.label :email, class: "has-text-weight-bold" %><br />
        <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "off" %>
      </div>
      </div>

      <div class="field">
      <div class="control"> 
        <%= f.label :password, class: "has-text-weight-bold" %> <br />
        <%= f.password_field :password, class: "input", autocomplete: "off" %>
      </div>
      </div>

      <div class="field">
      <div class="control">
        <%= f.button class: "button is-info" do %>
          <i class="fas fa-sign-in-alt mr-3"></i> Signin
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
      </div>

      <div class="field mt-6">
      <div class="control">

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to new_password_path(resource_name), class: "has-text-light" do %>
          <i class="fas fa-question-circle mr-3"></i> Forgot Password
        <% end %>
      <% end %>

      </div>
      </div>
    <% end %>

  </div>

</div>
</section>